video {
	background: cover;
	position: relative;
	filter:grayscale(1);
	height: 100%;
	width: 100%;
	z-index: 10;
}

#welcome {
	position: absolute;
	left:40%;
	top:50%;
	color: #ffffff;
	z-index: 100;
	width: fit-content;
	font-size:700%;
	font-family: 'Libre Baskerville', serif;
	border-style: solid;
	border-color: #ffffff;
	box-shadow: 5px 5px 5px 5px #c0c0c0;
}

#welcome:hover; {
	background: #c0c0c0;
	opacity: 0.8;
	cursor: pointer;
}
