/*body {
	background-image: url("solo2.jpg");
	background-size: cover;
	z-index: -2;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}*/

#pause_button:hover {
	opacity: 0.7;
}

#bottom_brand {
	font-size: 15px
}

@media only screen and (max-width: 600px) {
    #propic {
    	content:url("solo3.jpg");
    }
    #title {
    	font-size: 18px;
    }
    footer {
    	font-size: 12px;
    }
}

/*video {
	background: cover no-repeat;
	position: absolute;
	overflow: hidden;
	filter:grayscale(1);
	height: 100%;
	width: 100%;
	z-index: 10;
    right: 0; 
    bottom: 0;

}*/